.App-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Feed {
  display: flex;
  flex: 2; /* Aumenta o espaço ocupado pelo Feed */
  padding: 1rem;
}

.Feed .materia-container {
  flex: 2; /* Aumenta o espaço ocupado pelas matérias do feed */
}

.materia-agrupada {
  flex: 1; /* Reduz o espaço ocupado pelo MateriaAgrupada */
  padding: 1rem;
  background-color: #f4f4f4;
  border-left: 1px solid #ddd;
  overflow-y: auto;
}

.materia-agrupada .materia-agrupada-container {
  flex: 1; /* Reduz o espaço ocupado pelas matérias agrupadas */
  padding: 1rem;
  background-color: #f4f4f4;
  border-left: 1px solid #ddd;  
  overflow-y: auto;
}

.materia-agrupada .materia-container {
  margin: 0;
}

.content-container {
  display: flex;
  flex: 1;
  gap: 2rem; /* Espaço entre as colunas */
  padding: 1rem;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column; /* Muda para coluna em telas menores */
  }
}