.navbar {
  /*position: fixed;*/ 
  top: 0; 
  left: 0; 
  width: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  z-index: 1000; /* Garante que a navbar fique acima de outros elementos */
}

.navbar__logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar__links li {
  display: inline;
}

.navbar__links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar__links a:hover {
  color: #00bcd4;
}