.video-modal {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100%;
    max-height: 100%;
}
.video-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color:azure
}

.video-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.video-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .video-modal {
        width: 90%;
        max-height: 80%;
    }
}

@media (orientation: landscape) and (max-width: 920px) {
  .video-modal {
    max-width: 55%;
    max-height: 80%;
  }

}